@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
@import url("https://api.fontshare.com/css?f[]=general-sans@400,500,600,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    [x-cloak] {
        display: none;
    }

    body {
        font-family: "General Sans", sans-serif;

        @apply antialiased leading-none text-gray-800 bg-[#FBFBFB];
    }

    /* HEADER */
    .header {
        @apply w-full p-4 fixed bg-white top-0 z-10;
    }

    .nav {
        @apply grid grid-cols-12 gap-3 md:gap-4 font-medium text-xs md:text-sm;
    }

    .nav__brand {
        @apply col-span-full xl:col-span-3 grid grid-cols-3 items-center justify-between;
    }

    .nav__filter-wrapper {
        @apply col-span-full xl:col-span-9 grid grid-cols-4 xl:grid-cols-6 gap-3 md:gap-4 items-center justify-end justify-items-end;
    }

    .nav__filter-col-end {
        @apply xl:col-start-4;
    }

    .sidebar {
        @apply w-full sm:w-6/12 h-full overflow-auto flex flex-col justify-between md:w-4/12 2xl:w-2/12 min-h-screen absolute z-20 top-0 left-0 bg-white shadow transition-transform duration-200;
    }

    .sidebar__profile-wrapper {
        @apply p-3 sm:p-5 py-4 sm:py-8 grid grid-flow-col gap-4 justify-start items-center border-b border-gray-300;
    }

    .sidebar__avatar {
        @apply h-14 sm:w-16 w-14 sm:h-16;
    }

    .sidebar__username {
        @apply text-xl sm:text-2xl font-semibold truncate;
    }

    .sidebar__brand {
        @apply text-sm sm:text-base text-blue-700 font-medium leading-none;
    }

    .sidebar__bottom {
        @apply py-2 sm:py-3 px-3 sm:px-5 text-sm sm:text-base rounded-lg flex items-center justify-between;
    }

    .sidebar .list {
        @apply border-b border-gray-300 px-3 sm:px-5 py-3 space-y-2;
    }

    .sidebar .list > .title {
        @apply flex text-xs uppercase text-blue-700 font-semibold;
    }

    .sidebar .list .list-item {
        @apply py-2 sm:py-3 px-3 sm:px-5 flex text-sm sm:text-base text-blue-700 items-center font-medium rounded-lg;
    }

    .sidebar .list .list-item.active {
        @apply bg-blue-700 text-white font-semibold;
    }

    /* BODY */
    .posts-container {
        column-width: theme("maxWidth.xs");
        column-gap: theme("spacing.4");
    }

    .posts-container > * {
        break-inside: avoid;
        width: 100%;
        float: left;
        margin-top: 1px;
        margin-bottom: theme("spacing.4");
    }

    .post-card {
        @apply shadow rounded-lg overflow-hidden border border-gray-200 space-y-5;
    }

    .post-card__top {
        @apply px-4 pt-4 space-y-2;
    }

    .post-card__header {
        @apply grid grid-flow-col gap-2 justify-between;
    }

    .post-card__header-left {
        @apply grid grid-flow-col auto-cols-max gap-2 items-center;
    }

    .post-card__header-right {
        @apply grid grid-flow-row items-center;
    }

    .post-card__avatar {
        @apply h-12 w-12 rounded-full;
    }

    .post-card__label {
        @apply text-[10px] py-[2px] px-1 uppercase rounded text-white text-center font-semibold;
    }

    .post-card__label-featured {
        @apply bg-red-500;
    }

    .post-card__label-new {
        @apply bg-blue-700;
    }

    .post-card__label-trending {
        @apply bg-yellow-400;
    }

    .post-card__username {
        @apply font-semibold text-sm leading-6;
    }

    .post-card__icons {
        @apply flex justify-end space-x-1;
    }

    .dropdown {
        @apply absolute z-10 py-1 left-0 top-[100%] mt-2 sm:mt-3 bg-white w-full shadow rounded max-h-40 overflow-y-auto;
    }

    .dropdown-item {
        @apply p-2 capitalize hover:bg-advertial-blue hover:text-advertial-indigo hover:bg-opacity-10 hover:text-opacity-90 cursor-pointer;
    }

    .form-group {
        @apply  bg-gray-300 rounded-lg cursor-pointer relative;
    }

    .form-control {
        @apply w-full bg-transparent font-medium capitalize text-gray-800 placeholder-gray-400 cursor-pointer focus:outline-none;
    }

    .search-control-group {
        @apply col-span-full xl:col-span-2 w-full relative flex items-center text-gray-400 focus-within:text-gray-800;
    }

    .search-control {
        @apply w-full px-3 py-[9px] pl-10 bg-gray-300 text-gray-800 rounded-lg font-medium focus:outline-none placeholder-gray-400;
    }
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-gsans {
    font-family: "General Sans", sans-serif;
}

.grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
}

.ad-analysis ul li {
    @apply list-disc list-inside mb-1;
}

.top-bar {
    @apply bg-[#f56565];
    box-shadow: inset 0 -1px 10px 0 rgb(0 0 0 / 20%);
}
